
{# TEMPLATE VAR SETTINGS #}
{%- set main_site_url = "https://www.varnish-software.com/" %}
{%- set url_root = pathto('', 1) %}
{%- if url_root == '#' %}{% set url_root = '' %}{% endif %}
{%- if not embedded and docstitle %}
	{%- set titlesuffix = " &mdash; "|safe + docstitle|e %}
{%- else %}
	{%- set titlesuffix = "" %}
{%- endif %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	{{ metatags }}
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	{% block htmltitle %}
	<title>{{ title|striptags|e }}{{ titlesuffix }}</title>
	{% endblock %}

	{# FAVICON #}
	{% if favicon %}
		<link rel="shortcut icon" href="{{ pathto('{{ main_site_url }}/wiki/_static/' + favicon, 1) }}"/>
	{% endif %}

	{# CSS #}
	
	<script type="text/javascript">
        var DOCUMENTATION_OPTIONS = {
          URL_ROOT:    './',
          VERSION:     '',
          COLLAPSE_INDEX: false,
          FILE_SUFFIX: '.html',
          HAS_SOURCE:  true,
          SOURCELINK_SUFFIX: '.txt'
        };
	</script>
	<script type="text/javascript" src="{{ main_site_url }}/wiki/_static/jquery.js"></script>
	<script type="text/javascript" src="{{ main_site_url }}/wiki/_static/underscore.js"></script>
	<script type="text/javascript" src="{{ main_site_url }}/wiki/_static/doctools.js"></script>
	<script type="text/javascript" src="{{ main_site_url }}/wiki/_static/searchtools.js"></script>
	<script type="text/javascript" src="{{ main_site_url }}/wiki/_static/js/jquery-1.11.0.min.js"></script>
	<script type="text/javascript" src="{{ main_site_url }}/wiki/_static/js/jquery-fix.js"></script>
	<link rel="search" title="Search" href="#" />
	<script type="text/javascript">jQuery(function() { Search.loadIndex("searchindex.js"); });</script>
	<script type="text/javascript" id="searchindexloader"></script>
	<script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-15491050-1']);
        _gaq.push(['_trackPageview']);
        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
	</script>

	<link rel="stylesheet" href="{{ pathto('_static/default.css', 1) }}"/>
	<link rel="stylesheet" href="{{ pathto('_static/custom.css', 1) }}"/>
	<link href="{{ pathto('_static/css/bootstrap.min.css', 1) }}" rel="stylesheet">
	<link href="{{ pathto('_static/css/font-awesome.min.css', 1) }}" rel="stylesheet">
	<link href="{{ pathto('_static/css/custom.css', 1) }}" rel="stylesheet">
	<link href="{{ pathto('_static/css/prism.css', 1) }}" rel="stylesheet">
	<link rel="icon" type="image/png" href="{{ pathto('_static/images/favicon.png', 1) }}">

	
</head>
<body class="page no-header">

<div class="container">
	<a href="https://www.varnish-software.com/">
		<img class="logo" src="{{ pathto('_static/images/varnish_software_logo.png', 1) }}" />
	</a>

	<hr />
</div>
<div class="container">

	{% block menu %}

	<div id="wiki-sidebar">
		<div class="sidebar-block">
			<div class="sidebar-wrapper">
				<h3>{{ _('Contents') }}</h3>
			<div class="sidebar-localtoc">
				{{ toctree(includehidden=True, collapse=True) }}
			</div>
		</div>
	</div>

	{% include "searchbox.html" %}
	{% include "sourcelink.html" %}
</div>
{% endblock %}

<div id="wiki-content">
{% block body %}{% endblock %}
</div>

<br/>

<div class="container">

	<div class="footer">
		<div class="text-muted text-center">
			<small>Copyright 2021, Varnish Software AB</small>
		</div>
		<div class="text-muted text-center">
			<small>®Varnish Software, Malmskillnadsgatan 32, 111 51 Stockholm, Organization nr. 556805-6203</small>
		</div>
	</div>
</div>

</body>
</html>
